<div class="row">
    <div class="container">
      <div>
       <h1>{{title}}</h1>
       <p>The Angular Index is full of resources for terminology specific to Angular. There are times where we get caught up with the actual work and forget the terms in which we are using to progress through our work. At least, that's been my experience. The Ang-Index is a tool that can be used to refresh the memory.</p>
    </div><!--end div-->

    <div>
        <h5>AOT (Ahead of Time)</h5>
          <p><strong>Short Description -</strong> Before the browser downloads, HTML and TypeScript is compiled into efficient JavaScript code during the build process.</p>
          <a href="https://angular.io/guide/glossary#ahead-of-time-aot-compilation" target="blank">read more</a>
          <br />
        </div><!--end div-->

    <div>
      <h5>Bootstrapping</h5>
        <p><strong>Short Description -</strong> The Root module ngModule or appModule gets it's properties from Bootstrapping which inserts components into the index.html file to initialize the application.</p>
        <a href="https://angular.io/guide/glossary#bootstrap" target="blank">read more</a>
        <br />
      </div><!--end div-->

  <div>
    <h5>Class Decorator</h5>
      <p><strong>Short Description -</strong> Appears before a class definition, declares the class to be of a type, and provide metadata related to that class</p>
      <ol>
        <li>@Component()</li>
        <li>@Directive()</li>
        <li>@Pipe()</li>
        <li>@Injectable()</li>
        <li>@NgModule()</li>
      </ol>
      <a href="https://angular.io/guide/glossary#class-decorator" target="blank">read more</a>
      <br />
</div><!--end div-->

  <div>
    <h5>Class Field Decorator</h5>
      <p><strong>Short Description -</strong> Statement before a field class. Declares the type of field of the class. To name a few...</p>
      <ol>
        <li>@Input</li>
        <li>@Output</li>
      </ol>
      <a href="https://angular.io/guide/glossary#class-field-decorator" target="blank">read more</a>
      <br />
</div><!--end div-->

  <div>
    <h5>Component</h5>
      <p><strong>Short Description -</strong> A class with the @Component decorator that associates itself with a template(ie. html file) in order to create a view.</p>
      <a href="https://angular.io/guide/glossary#component" target="blank">read more </a>
      <br />
</div><!--end div-->

    <div>
      <h5>Custom Element</h5>
      <p><strong>Short Description -</strong> Allows you to create an HTML tag that is controlled by JavaScript code. Also called a web component, it is supported by most browsers and others browser by using polyfils.</p>
      <a href="https://angular.io/guide/glossary#custom-element" target="blank">
      read more</a>
      <br />
    </div><!--end div-->

    <div>
      <h5>Data Binding</h5>
      <p><strong>Short Description -</strong> The relationship between HTML and data. There are several types of binding all which rely on a users clicks, keystrokes and touches.</p>
      <ol>
        <li>Interpolation</li>
        <li>Property binding</li>
        <li>Event binding</li>
        <li>Attribute binding</li>
        <li>Class binding</li>
        <li>Style binding</li>
        <li>Two-way data binding with ngModel</li>
      </ol>
      <a href="https://angular.io/guide/glossary#data-binding" target="blank">
      read more</a>
      <br />
    </div><!--end div-->

    <div>
      <h5>Dependency Injection (DI)</h5>
      <p><strong>Short Description -</strong> A design pattern that communicates dependencies or services to other parts of the application that require them.</p>

      <a href="https://angular.io/guide/glossary#dependency-injection-di" target="blank">
      read more</a>
      <br />
    </div><!--end div-->

    <div>
      <h5>Directive</h5>
      <p><strong>Short Description -</strong> A class that modifies the DOM and it's elements.</p>

      <ol>
        <li>Components use @Component() (an extension of @Directive()) to associate a template with a class.</li>
        <li>Attribute directives modify behavior and appearance of page elements.</li>
        <li>Structural directives modify the structure of the DOM.</li>
      </ol>
      <a href="https://angular.io/guide/glossary#dependency-injection-di" target="blank">
      read more</a>
      <br />
    </div><!--end div-->

    <div>
        <h5>Lazy Loading</h5>
        <p><strong>Short Description -</strong> Speeds up the application load time by splitting the application into bundles. Unlike eager-loading, dependencies are loaded only as needed.</p>
        <a href="https://angular.io/guide/glossary#lazy-loading" target="blank">
        read more</a>
        <br />
      </div><!--end div-->

      <div>
      <h5>Life Cycle Hook</h5>
      <p><strong>Short Description -</strong> Allows you to link into the life cycle of dependencies and components when they are created, Updated and Destroyed.</p>

      <ol>
         <li>ngOnChanges: When an input/output binding value changes.</li>
         <li>ngOnInit: After the first ngOnChanges.</li>
         <li>ngDoCheck: Developer's custom change detection.</li>
         <li>ngAfterContentInit: After component content initialized.</li>
         <li>ngAfterContentChecked: After every check of component content.</li>
         <li>ngAfterViewInit: After a component's views are initialized.</li>
         <li>ngAfterViewChecked: After every check of a component's views.</li>
         <li>ngOnDestroy: Just before the directive is destroyed.</li>
      </ol>
      <a href="https://angular.io/guide/glossary#lazy-loading" target="blank">
      read more</a>
      <br />
    </div><!--end div-->

    <div>
        <h5>Observable</h5>
          <p><strong>Short Description -</strong> handles events asynchronously. You execute an observable by subscribing to it and return a value. Angular uses RxJs to do so.</p>
          <a href="https://angular.io/guide/glossary#observable" target="blank">read more</a>
          <br />
        </div><!--end div-->

        <div>
            <h5>Output</h5>
              <p><strong>Short Description -</strong> Makes a property available through event binding.</p>
              <a href="https://angular.io/guide/glossary#output" target="blank">read more</a>
              <br />
        </div><!--end div-->

        <div>
            <h5>Pipe</h5>
              <p><strong>Short Description -</strong> Transform input values to output values</p>
              <a href="https://angular.io/guide/glossary#pipe" target="blank">read more</a>
              <br />
            </div><!--end div-->

            <div>
                <h5>Service</h5>
                  <p><strong>Short Description -</strong> A class with the @Injectable decorator that allows for resuable code and can be used for Dependency Injection. Injectors maintain a list of providers and allow those services to be used by components and other services.</p>
                  <a href="https://angular.io/guide/glossary#service" target="blank">read more</a>
                  <br />
                </div><!--end div-->

    <br />
    <br />
    <br />
    <br />
</div><!--end container-->



