/**MENU POP OUT/BACKGROUND OVERLAY DARK**/
#backgroundOverlay{
  background-color:black;
  position:fixed;
  z-index:3;
  top:0;
  left:0;
  right:0;
  bottom:0;
  display:block;
  opacity:0.8;
}

.class_two{background:blue;}

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.2s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

/**HAMBURGER MENU**/
.navbar{
  color:#000;
  overflow:hidden;
  position:relative;
  z-index:2;
}

.navbar a{
  background:#000;
  color:#fff;
  float:left;
  display:block;
  padding:0px 10px;
  font-size:30px;
  border:1px solid#000;
  border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  margin-left:20px;
}
/*END HAMBURGER MENU**/

/***SIDENAV***/

.side-nav {
  position: fixed;
  z-index:999;
  top:0;
  left: -300px;
  width: 300px;
  height: 100%;
  background-color:#111;
  -webkit-animation: side-nav 0.5s forwards;
  animation: side-nav 0.5s forwards;
  overflow-x:hidden;
}

@-webkit-keyframes side-nav {
  100% { left: 0; }
}

@keyframes side-nav {
  100% { left: 0; }
}

.side-menu{display:block;}

/**menu-heder**/
.menu-header{
  background:#fff;
  color:#000;
  padding:10px;
  text-align:center;
  border:1px solid#e0e0e0;
}

.login-menu{float:left; }
.login-menu i{position:relative; top:4px; margin-right:10px;}
.login-menu span{font-size:20px;}

.cancel-menu{text-align:right;}
.cancel-menu a i{margin-top:4px; margin-right:10px; color:#000;}
/**End menu-header**/

/**side-nav links**/
.side-nav ul {
  margin:0;
  padding:0;
  list-style-type: none;}

  .side-nav ul li {
    background:#212121;
     padding:10px 15px;
     display:block;
    }

    .side-nav ul li:hover{
      transition:0.3s;/**Soft fading on hover for menu item**/
      background:#3f3f3f;
      padding:10px 15px;
      text-decoration:none;
    }

      .side-nav ul li a{color:#fff;display:inline-block;width:100%;}
      .side-nav ul li a:hover{text-decoration:none;}

.menu-item{display:inline;}

.menu-arrows{float: right;}

i.menu-arrows{font-size:34px; color:#e0e0e0;}
/**end side-nav**/

/**menu list item without sub list-items (No mega menu. Standard flyout menu only)**/
.list-item ul li{background:#212121;}

.list-item ul li:hover{background:#b12525;}

.list-item{
  position: fixed;
  top:100px;
  left: 299px;
  background: #b12525;
  z-index: 999;
  display:none;
  width:auto;
  transition:0.3s;
}

.list-item ul{padding:0px; margin:0;}
.list-item li a{color:#fff;}
.side-nav li:hover .list-item{
 display:block;
}

/**Menu item with sub menu items (mega-menu)**/
.mega-menu{transition: 0.3s;}

.side-nav li:hover .sub-list-item{
  display:block;
}

.sub-list-item{
  position: fixed;
  top:100px;
  left: 299px;
  background: #b12525;
  z-index: 999;
  display:none;
  width:60%;
  height:auto;
  padding:15px 0;
  border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  -webkit-border-radius: 0 5px 5px 0;
  transition:0.3s;
}

.sub-list-item ul{padding:0; margin:0;}

.sub-list-item ul li{
  background:none;
  padding:0;
  margin:0 0 0 24px;
}

.sub-list-item ul li:hover{padding:0; margin:0 0 0 24px;}
.sub-list-item ul li:hover{background:#b12525;}
.sub-list-item .mega-menu li a{color:#f3d4d4;}
.sub-list-item .mega-menu li a:hover{color:#fff;}

/**inside the sub-list mega menu**/
span.menu-category-title i.material-icons{
  position: relative;
  top: 0px;
  background:#fff;
  color: #a45656;
  border-radius: 20px;
  margin-right:6px;
  padding: 4px;
  font-size: 11px;
  }

span.menu-category-title{
  text-transform: uppercase;
  color: #fff;
  width: 100%;
  display: inline-block;
  font-size: 14px;
  padding-bottom: 5px;
  font-weight: bold;
  border-bottom: 1px solid rgb(210, 110, 110);
}

/***MOBILE MENU****/
/***MOBILE MENU****/
/***MOBILE MENU****/
#side-menu-mobile a.mobile-header-cancel{
  color:#000;;
  padding: 0!important;
  width: auto!important;}

#side-menu-mobile ul{padding:0;}

#side-menu-mobile span.menu-category-title{
text-transform: uppercase;
background: #710606;
color: #fff;
width: 100%;
display: inline-block;
padding: 10px 30px 15px 30px;
font-size: 16px;
font-weight: bold;
}

#side-menu-mobile span.menu-category-title i.material-icons{
position: relative;
top: 4px;
background: #a45656;
color:#fff;
border-radius: 20px;
margin-right:10px;
padding: 3px;
font-size:20px;
}

.side-nav-mobile{
  height:100%;
  width:0; /*expands to 300px after event click. Find action in menu.component.ts file. METHODS-openSlideMenu() & closeSlideMenu().**/
  position:fixed;
  z-index:2;
  top:0px;
  left:0;
  background-color:#111;
  opacity:1;
  overflow-x:hidden;
  transition:0.3s;
}

.side-nav-mobile::-webkit-scrollbar-track
{
-webkit-box-shadow: inset 0 0 6px #0000004d;
border-radius: 5px;
background-color: #F5F5F5;
}

.side-nav-mobile::-webkit-scrollbar
{
width: 10px;
background-color: #F5F5F5;
}

.side-nav-mobile::-webkit-scrollbar-thumb
{
border-radius: 5px;
-webkit-box-shadow: inset 0 0 6px #0000004d;
background-color: #d60b0b;
padding:2px;
}

.side-nav-mobile a


.side-nav-mobile ul{padding:0;}

.side-nav-mobile a{
  text-decoration:none;
  font-size:18px;
  color:#ccc;
  display:inline-block;
  transition:0.3s;
  text-transform:uppercase;
  width:100%;
}

.side-nav-mobile a:hover{color:#fff;}

.side-nav-mobile .material-icons.cancel{
  position:absolute;
  top:15px;
  right:22px;
  font-size:36px;
  margin-left:50px;
}

.side-nav-mobile li{list-style:none;}
.side-nav-mobile li{padding:0;}
.side-nav-mobile a{padding:15px 10px 15px 10px;}
.side-nav-mobile a.expand-padding{padding:15px 10px 0 10px;}
.side-nav-mobile li:hover{background:#292828;}

/*Submenu*/
ul.expanded-menu{background:#b12525;}
ul.expanded li{background:#000;}
ul.expanded-menu li a{color:#fff; text-transform: unset; padding:12px 30px;}
ul.expanded-menu li:hover{background:#212121; color:#000; cursor:pointer;}



