<div id="backgroundOverlay" class="fade-in fade-out" *ngIf="!isCollapsed" (click)="toggleLogin()"></div>
<div class="login-menu" *ngIf="!isCollapsed">
    <i class="material-icons">account_circle</i>
  <span class="user"><strong>Hello</strong> User</span>
  <div class="cancel-menu">
    <a class="mobile-header-cancel"><i class="material-icons" (click)="menu.toggle($event); toggleLogin();">clear</i></a>
  </div>
</div>

<button #btn type="button" pButton icon="pi pi-bars" (click)="menu.toggle($event); toggleLogin();"></button>

<p-slideMenu #menu [model]="items" [popup]="true"></p-slideMenu>

 