#backgroundOverlay{
  background-color:black;
  position:fixed;
  z-index:3;
  top:0;
  left:0;
  right:0;
  bottom:0;
  display:block;
  opacity:0.8;
}

.login-menu{
  position:absolute;
  top:0;
  left:0;
  z-index:999;
  width:350px;
  background:#fff;
  padding:10px 15px;
  border-right:1px solid#e1dfdf;
}

.login-menu i{position:relative; top:4px;}
.login-menu span{font-size:20px;}

.cancel-menu{float:right;}
.cancel-menu a i{margin-top:4px; color:#000;}

/**End menu-header**/