<mat-toolbar class="primary title header"><h1>{{title}}</h1>
  <app-menu></app-menu>
  <button mat-button class="default" routerLink="" routerLinkActive="active">Home</button>
  <button mat-button class="default"routerLink="angIndex" routerLinkActive="active">Ang Index</button>
<button mat-button [matMenuTriggerFor]="menu" class="default">Data Binding</button>

<mat-menu #menu="matMenu">
  <button mat-menu-item routerLink="dropdownMenus" routerLinkActive="active">Dropdown Menu</button>
  <button mat-menu-item routerLink="tables" routerLinkActive = "active">Tables</button>
</mat-menu>

</mat-toolbar>



  <router-outlet></router-outlet>

